@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;500;700&family=Montserrat:ital,wght@0,300;0,500;0,700;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');

/* :root{
    White: hsl(0, 0%, 100%)
    off-white : hsl(0, 0%, 94%)
    Light grey: hsl(0, 0%, 86%)
    Smokey grey: hsl(0, 1%, 44%)
    Off black: hsl(0, 0%, 8%)
    Purple: hsl(259, 100%, 65%)
    Light red: hsl(0, 100%, 67%)
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    place-content: center;
    background-color: hsl(0, 0%, 94%);
}

.container{
    /* height: 20rem; */
    width: 28rem;
    height: 26rem;
    padding: 2.5rem;
    border-radius: 1.5rem;
    background-color:  hsl(0, 0%, 100%);
    position: relative;
    border-bottom-right-radius: 9rem;
}

.entry-container{
    max-width: 24rem;
    display: flex;
    margin-bottom: 2.1rem;

    /* border-bottom: solid 2px hsl(0, 0%, 94%); */
    /* background-color: aqua; */
}

.entry{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    /* margin-bottom: 1.2rem; */
    position: relative;
}

input{
    width: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: solid 2px  hsl(0, 0%, 94%);
    outline: none;
    color: hsl(0, 1%, 44%);
    font-weight: bold;
}

input:focus{
    border: solid 2px hsl(259, 100%, 65%)
}

span{
    color:hsl(0, 1%, 44%);
}

small{
    color: red;
    font-size:0.6rem;
    font-weight: bold;
    text-transform: capitalize;
    max-width: 4rem;
}

.btn{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: .8rem;
    display: flex;
    align-items: center;
    /* aspect-ratio: 1 1; */
    background-color: hsl(259, 100%, 65%);
    border:none;
    position: absolute;
    right: 2.5rem;
    top: 8.5rem;
    cursor: pointer;
}
.btn:active{
    background-color: hsl(0, 0%, 8%);
}

.output span{
    font-size: 2.5rem;
    color: hsl(259, 100%, 65%);
    font-style: italic;
}
.output h1 {
    font-family: Poppins; /* Set the font-family to Poppins */
    font-style: italic; /* Set the font-style to italic */
    font-weight: 800; /* Set the font-weight to 800 (bold) */
}

.attribution{
    margin-top: 5rem;
}

@media screen and (max-width:667px){
    .container{
        max-width: 21rem;
        padding: 1.5rem;
    }
    .entry{
        gap: .5rem;
    }
    .btn{
        right: 9.5rem;
    }
    .btn:active{
        background-color: hsl(0, 0%, 8%);
    }    
}